<div class="col-sm-6 col-md-2">
  <div class="thumbnail">
    <%= link_to codelist_path(codelist) do %>
    <%= image_tag(codelist.picture.url) if codelist.picture? %>
    <div class="caption">
      <%= codelist.title %>
    </div>
    <% end %>
  </div>
</div>
