<% provide(:title, 'Codelists') %>
  <div class="col-md-8">
    <% if @codelists.any? %>
      <h3>Codelists (<%= @codelists.count %>)</h3>
      <ol class="codelists">
        <%= render @codelists %>
      </ol>
      <%= will_paginate @codelists %>
    <% end %>
  </div>
</div>