<% provide(:title, 'Codelists') %>
<% if @codelists.any? %>
  <h3>Codelists (<%= @codelists.count %>)</h3>
  <div class="row">
    <%= render @codelists %>
  </div>
  <%= will_paginate @codelists %>
<% end %>
