<div class="media">
  <div class="media-left media-middle">
    <%= image_tag(@codelist.picture.url, :style => 'max-height: 320px; max-width: 220px', :class => "media-object") if @codelist.picture? %>
  </div>
  <div class="media-body">
    <h4 class="media-heading"><%= @codelist.title %></h4>
    <p><%= @codelist.content.html_safe %></p>
  </div>
</div>
<br/>
