<footer class="footer">
  <small>
    <%= link_to 'bright-system.dev', 'https://bright-system.dev/', target: :_blank, rel: 'noopener noreferrer' %>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><%= link_to 'News', 'http://news.railstutorial.org/', target: :_blank, rel: 'noopener noreferrer' %></li>
    </ul>
  </nav>
</footer>